$spacing: (
  "sm": 8px,
  "md": 16px,
  "lg": 24px,
);

$breakpoints: (
  "sm": 600px,
  "md": 960px,
  "lg": 1280px,
);

$justifyContent: (flex-start, flex-end, center, space-between);
$alignItems: (flex-start, flex-end, center);

@mixin breakpoint($name) {
  @media screen and (min-width: map-get($breakpoints, $name )) {
    @content;
  }
}

.Grid {
  &_container {
    display: flex;
    flex-wrap: wrap;

    height: 100%;
  }

  &_item {
    display: block;
  }

  @for $i from 1 to 13 {
    &_xs_#{$i} {
      flex-basis: $i/12 * 100%;
    }
  }

  @include breakpoint("sm") {
    @for $i from 1 to 13 {
      &_sm_#{$i} {
        flex-basis: $i/12 * 100%;
      }
    }
  }

  @include breakpoint("md") {
    @for $i from 1 to 13 {
      &_md_#{$i} {
        flex-basis: $i/12 * 100%;
      }
    }
  }

  @include breakpoint("lg") {
    @for $i from 1 to 13 {
      &_lg_#{$i} {
        flex-basis: $i/12 * 100%;
      }
    }
  }

  @each $name, $value in $spacing {
    &_spacing_#{$name} {
      margin: -$value;
    }

    &_spacing_#{$name} > &_item {
      padding: $value;
    }
  }

  @each $value in $justifyContent {
    &_justifyContent_#{$value} {
      justify-content: $value;
    }
  }

  @each $value in $alignItems {
    &_alignItems_#{$value} {
      align-items: $value;
    }
  }
}
